[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
gunicorn = "*"
flask-pymongo = "*"
flask-cors = "*"
flask-session = "*"
redis = "*"
pymongo = "==3.12.3"
dnspython = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.11"
